<script src="https://cdn.podlove.org/web-player/embed.js"></script>

<script>
  podlovePlayer('#pc-lecture-one', '/courses/ovgu-mathe-informatik/files/pcs/config-1.json');
</script>

<script>
  podlovePlayer('#pc-lecture-1-2', '/courses/ovgu-mathe-informatik/files/pcs/config-1-2.json');
</script>

<script>
  podlovePlayer('#pc-lecture-2-1', '/courses/ovgu-mathe-informatik/files/pcs/config-2-1.json');
</script>

<script>
  podlovePlayer('#pc-lecture-2-2', '/courses/ovgu-mathe-informatik/files/pcs/config-2-2.json');
</script>

<script>
  podlovePlayer('#pc-lecture-3-1', '/courses/ovgu-mathe-informatik/files/pcs/config-3-1.json');
</script>

<script>
  podlovePlayer('#pc-lecture-3-2', '/courses/ovgu-mathe-informatik/files/pcs/config-3-2.json');
</script>

<script>
  podlovePlayer('#pc-lecture-4-1', '/courses/ovgu-mathe-informatik/files/pcs/config-4-1.json');
</script>
